<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Document</title>
    <style>
        body,html {
            height: 100%;
        }
    </style>
</head>
<body>
    <div class="container-fluid h-100">
        {%if context%}
            <h3>{{context}}</h3>
        {%endif%}
        <div class="row justify-content-center align-items-center h-100">
            <div class="col col-sm-6 col-md-6 col-lg-4 col-xl-3">
                <form action="/" method="POST" enctype="multipart/form-data">
                    <div class="form-group">
                        <input _ngcontent-c0="" class="form-control form-control-lg" name="video_file" placeholder="Video" type="file">
                    </div>
                    <div class="form-group">
                        <button class="btn btn-success btn-lg btn-block">Translate</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>